<form action="" class="">
    <label for="userEmail">Digite o seu e-mail:</label>
    <input type="email" name="useEmail" id="userEmail" class="" placeholder="exemplo@email.com" required>

    <label for="userName" class="">Digite o seu nome completo:</label>
    <input type="text" name="userName" id="userName" class="" placeholder="Fulano da Silva" required>

    <label for="userPassword" class="">Digite a sua senha:</label>
    <input type="password" name="userPassword" id="userPassword" class="" placeholder="********" min="8" required>

    <label for="confirmUserPassword" class="">Confirme a sua senha:</label>
    <input type="password" name="confirmUserPassword" id="confirmUserPassword" class="" placeholder="********" min="8" required>

    <button type="submit" class="">Criar conta</button>
</form>